@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 1rem;
  background-image: url('./img/dog.jpg');
  background-color: #cccccc;  /* in case image failed */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%;
  height: 100vh; /* Set height to 100vh */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  opacity: 70%;
}

.section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: rgba(255, 153, 0, 0.42);
  mix-blend-mode: normal;
  border-radius: 0;
  opacity: 100%;
}

.login {
  position: fixed;
  top: 15px;
  left: 20px;
  color: black;
  font-family: Ledger, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  opacity: 1;
  font-size: 30px;
}

.login:hover {
  color: white;
}

.title {
  margin: 0;
  align-items: center;
  position: absolute;
  top: 10;
  left: 46%;
  color: black;
  opacity: 1;
  font-family:"Kaushan Script", 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
}

.title:hover {
  color: white;
}

.about {
  position: fixed;
  top: 15px;
  right: 20px;
  color: black;
  opacity:1;
  font-family: Ledger, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}

.about:hover {
  color: white;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}