@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    padding: 1rem;
    background-image: url('./img/dog.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 100vh; /* Set height to 100vh */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    opacity:60%;
}

.section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: rgba(255, 153, 0, 0.42);
  mix-blend-mode: normal;
  border-radius: 0;
  opacity:100%;
}

.signin {
  margin-left: 40%;
  margin-right: 10rem;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  opacity:1;
font-size: larger;
padding-top: 10rem;
}

.signin:hover {
  font-size:xx-large;
  opacity:1;

}

.title {
  margin: 0 1rem;
  align-items: center;
  opacity:1;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
  padding-left: 46%;

}

.about {
  margin-right: 3rem;
  margin-left: 10rem;
  opacity:1;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
  padding-top: 20%;

}

.about:hover {
  font-size:xx-large;
  opacity:1;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}